<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buzzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div id="toggle-div" style="height: 100vh; width: 100vw;">
    <audio id="buzzer-sound" src="{{ url_for('static', filename='buzzer.wav') }}"
    preload="auto"></audio>
  </div>
  <scripts>
    let clientIp = "{{ client_ip }}";
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>